* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-rosa: #F71963; 
    --cor-cinza: #9F9F9F; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center; 
}
